<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
    <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"> Accueil</span>
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <NavLink class="nav-link" href="GuessKana" Match="NavLinkMatch.All">
                    <span class="bi bi-patch-question-fill" aria-hidden="true"> Devine les kanas</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
