@page "/"

<h1>Page d’accueil</h1>

<h2><a href="AllFonts">Toutes les polices</a></h2>
Permet de visualiser toutes les polices et les kanas existants qui sont utilisées pour deviner les kanas.

<h2><a href="GuessKana">Devine les kanas</a></h2>
Le coeur du site, la partie où il faut reconnaitre les Kanas en tapant le Romaji associé.

<h2><a href="Kanji">Les kanjis</a></h2>
Lorem Ipsum Non Vuolo Dire Nothing But J’Avais Besoin De Combler With Some Textus Litteraturem Indolores Patrona.

@code {

}
