@page "/"
@using System.Linq
@using ApprentissageKana.Components.Composants

<div class="row">
    <PageTitle>Apprendre les kanas</PageTitle>

    <div class="col-12 pt-3 text-center">
        <h1>Tableau récapitulatif de toutes les polices</h1>
    </div>

    <div class="col-1" />
    <div class="col-10 pt-3 table-responsive">
        <table class="table table-hover">
            <tr class="notoSansJP text-center" style="font-weight: bold;">
                <th scope="col" class="normalFontSize">Nom de la police</th>
                @foreach (Kana k in getAllHiragana)
                {
                    <th scope="col">@k.nom</th>
                }
            </tr>

            @foreach (Components.Composants.Font fontName in ApprentissageKana.Components.Utils.Globales.AllFonts)
            {
                <ApprentissageKana.Components.Pages.Composants.DisplayFullTabOfKanas FontName="@fontName.nom" getAllHiragana="@getAllHiragana" />
            }
        </table>
    </div>
    <div class="col-1" />
</div>

@code {
    private List<Kana> getAllHiragana = new List<Kana> ();

    protected override async Task OnInitializedAsync()
    {
        getAllHiragana = Kana.initialiseAllKana (false, true);
    }
}